*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightgray;
}

/* RESUME GRID  */

#area-img{
    grid-area: img;
    background-color: green;
}
#area-info{
    grid-area: info;
    background-color: rgb(128, 32, 0);

}
#area-about{
    grid-area: about;
    background-color: white;
}
#area-work{
    grid-area: work;
    background-color: white;

}
#area-education{
    grid-area: education;
    background-color: rgb(233, 215, 14);

}
#area-skills{
    grid-area: skills;

}
#area-footer{
    grid-area: footer;
    background-color: rgb(9, 248, 9);

}

/* MAIN GRID LAYOUT FOR PORTRAIT CELL PHONE  */

#resume-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "img info"
    "about about"
    "skills skills"
    "work  work"
    "education education"
    "footer footer"



    ;

}

/* MEDIA QUERY FOR LANDSCAPE */

@media screen and (orientation: landscape) {
    #resume-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "img about"
        "info work"
        "skills education"
        "footer footer"
    
    
    
        ;
    
    }
    
    
}


/* SECTION STYLING */

/* IMG SECTION */


/* INFO SECTION  */


/* ABOUT SECTION */

ul li{
    list-style-type:circle;
    font-size: 30px;
  }
  

/* WORK SECTION   */


/* EDUCATION SECTION  */

/* SKILLS SECTION */

/* SECTION 2 TABLE STYLE */
.worktable{
    margin-bottom: 2%;
    margin-left: 3%;
    padding: 2%;
    border: solid 2px whitesmoke;
    color: white;
  
  }
  .worktable th{
    padding: .5%;
    font-size: 35px;
    font-family: cool1
  }
  
  
  .worktable td:nth-child(odd){
    font-size: 30px;
    font-family: simple1;
    padding: .5%;
    
  }

/* FOOTER SECTION   */



