*{
    padding: .5%;
    margin: 0;
}

@font-face {
    font-family: miami1;
    src: url(fonts/miami1.ttf);
}
@font-face {
    font-family: miami2;
    src: url(fonts/miami2.ttf);
}
@font-face {
    font-family: miami3;
    src: url(fonts/miami3.ttf);
}




h2{
    font-family: miami1;
    /* color: white; */
    font-size: 40px;
    background: -webkit-linear-gradient(blue,pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:2px 2px #ff00d4;

    
}

body{
    background-image: linear-gradient(to bottom right, #75dddd, #84c7d0, #9297c4, #9368b7, #aa3e98);
}

/* RESUME GRID  */

#area-img{
    padding: .2%;
    grid-area: img;
    width: 200px;
    height:200px;
    border-radius: 2;
    border: solid black;
    

}
#area-info{
    padding: .1%;
    grid-area: info;

}
#area-about{
    padding: .2%;
    grid-area: about;
}
#area-work{
    padding: .2%;
    grid-area: work;

}
#area-education{
    padding: .2%;
    grid-area: education;

}
#area-skills{

    padding: .2%;
    grid-area: skills;

}
#area-footer{
    padding: .2%;
    grid-area: footer;

}

/* MAIN GRID LAYOUT FOR PORTRAIT CELL PHONE  */

#resume-grid{
    padding: .5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "img img"
    "info info"
    "about about"
    "skills skills"
    "work  work"
    "education education"
    "footer footer"



    ;

}

/* SECTION STYLING */

/* IMG SECTION */


/* INFO SECTION  */
#area-info{
    padding: .5%;
    padding-bottom: 5%;
}
#img-location{
    list-style-image:url(assets/location30.png);

}
#img-email{
    list-style-image:url(assets/email30.png);

    
}
#img-phone{
    list-style-image:url(assets/phone30.png);

    
}
#area-info{
    margin-left: 10%;
}
#info-list{
    color: white;
    font-family: miami2;
    font-size: 25px;

}
a{
    font-family: miami2;
    text-decoration: none;
    color: white;
    font-size: 25px;

    
}


/* ABOUT SECTION */
#area-about{
    padding-left: 3%;



}
p{
   font-family: miami2;
   color: white;
   background-color: rgba(128, 128, 128, 0.052);
   font-size: 25px;
   text-align: center;
    
}

/* WORK SECTION   */
#area-work{
    padding-left: 4%;
}
h4{
    font-size: 25px;
    color: white;
    font-family: miami2;

}
h5{
    font-size: 20px;
    color: white;
    font-family: miami3;
    text-align: center;
}


/* EDUCATION SECTION  */
#area-education{
    padding-top: 2%;

}

/* SKILLS SECTION */
#area-skills{
    display: inline;


}

/* TABLE STYLE */

.worktable{
    border: solid 2px whitesmoke;
    display: grid;
    color: white;
    width: 350px;
  
  }
  .worktable th{
    padding: .5%;
    font-size: 25px;
    font-family: miami1;
  }
  .worktable td{
    white-space:nowrap;

  }

  
  .worktable td:nth-child(odd){
    width:max-content;
    font-size: 20px;
    font-family: miami2;
    padding: .5%;
    
  }


/* FOOTER SECTION   */

.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style:circle
}
.footer{
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #050505;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: #080808;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
}





/* MEDIA QUERY FOR LANDSCAPE */

@media screen 
and (orientation: landscape)
 {
    #resume-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:auto 200px auto auto auto auto ;
        grid-template-areas: 
        "img about"
        "info work"
        "skills skill"
        "education education"
        "footer footer"
    
    
    
        ;
    
    }
    
    



/* SECTION STYLING */

/* IMG SECTION */
#area-img{
    width: 200px;
    height:200px;
    border-radius: 2;
    border: solid black;
}


/* INFO SECTION  */
#area-info{
    margin-left: 10%;
    height: 10px;
}
#info-list{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}


/* ABOUT SECTION */

  

/* WORK SECTION   */
#area-work{
}


/* EDUCATION SECTION  */
#area-education{
    padding-top: 100px;
    padding-left: 2%;
}

/* SKILLS SECTION */


/* TABLE STYLE */

.worktable{

    display: grid;
    border: solid 2px whitesmoke;
    color: white;
  
  }
  .worktable th{
    padding: .5%;
    font-size: 30px;
    font-family: miami1;
  }
  
  
  .worktable td:nth-child(odd){
    font-size: 25px;
    font-family: miami2;
    padding: .5%;
    
  }

/* FOOTER SECTION   */



/* MEDIA QUERY FOR TABLETS IN PORTRAITS  */


/* @media only screen 
  and (min-device-width: 708px) 
  {

    #resume-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "img about"
        "info work"
        "skills education"
        "footer footer"
    
        ;
    
    }
    

  } */


}

